<!DOCTYPE html>
<html>
  <head>
    <title>KABANG</title>
    <link rel='stylesheet' href='/module/css/jquery-ui.min.css' />
    <link rel='stylesheet' href='/module/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/module/font-awesome-4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="loginpage.css">
    <link rel="stylesheet" href="loginpage.js">
  </head>
  <body>
    <h1>Welcome To KABANG!!</h1>
    <script src="/module/js/jquery-1.12.4.min.js"></script>
    <script src="/module/js/jquery-ui.min.js"></script>
    <script src="/module/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
