<!DOCTYPE html>
<html>
  <head>
    <title>KABANG</title>
    <link rel='stylesheet' href='/module/css/jquery-ui.min.css' />
    <link rel='stylesheet' href='/module/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/module/font-awesome-4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('./navbar.ejs', {type: 'student', index: 0}) %>
    <div class="container">
      <h2>My Favorites</h2>
      <div class="row_adder favorites"></div>
      <h2>My Histories</h2>
      <div class="row_adder histories"></div>
    </div>
    <script src="/module/js/jquery-1.12.4.min.js"></script>
    <script src="/module/js/jquery-ui.min.js"></script>
    <script src="/module/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/room_card.js"></script>
    <script src="/js/mypage.student.js"></script>
  </body>
</html>
