<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/">
    <h3 class="header-title">KABANG</h3>
  </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <% if (index == 0) { %>
        <a class="nav-link active" href="/mypage"><i class="fa fa-sticky-note"></i> MyPage</a>
        <% } else { %>
        <a class="nav-link" href="/mypage"><i class="fa fa-sticky-note"></i> MyPage</a>
        <% } %>
      </li>
      <% if (type == 'student') {%>
      <li class="nav-item">
        <% if (index == 1) { %>
        <a class="nav-link active" href="/search"><i class="fa fa-search"></i> Room Search</a>
        <% } else { %>
        <a class="nav-link" href="/search"><i class="fa fa-search"></i> Room Search</a>
        <% } %>
      </li>
      <% } else { %>
      <li class="nav-item">
        <% if (index == 1) { %>
        <a class="nav-link active" href="/roomregister"><i class="fa fa-search"></i> Room Register</a>
        <% } else { %>
        <a class="nav-link" href="/roomregister"><i class="fa fa-search"></i> Room Register</a>
        <% } %>
      </li>
      <% } %>
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
        <a class="nav-link btn-logout" tabindex="-1">
        <i class="fa fa-user-o" aria-hidden="true"></i> Logout
      </a>
    </li>
  </ul>
</header>