<!DOCTYPE html>
<html>
  <head>
    <title>KABANG :: registerStudent</title>
    <link rel = "stylesheet" href = '/css/userregisterpage.css'>
      <!------ Include the above in your HEAD tag ---------->
      <script src = '/js/userregister.js'></script>

        
      
  </head>   

  <body>
        <div class = "student-register">
          <div class = "form">
              <form class  = "register-form">
                  <table>
                      <tr><font  face = '궁서' color = 'yellow' size = '5' align = 'center'>Student Register<br></font></tr>
                        <td><font color = 'white'>E-mail</font></td>
                        <td><input type = "text" placeholder = "E-mail" name = "E-mail" id = "EM">
                            <font color = 'white'>@kaist.ac.kr<br>
                                <font color = 'white' size = '1'>*E-mail address will be used as your ID
                                        <br>**We will send you Verification Mail to this KAIST e-mail address</font></font></td>
                            
                        
                    </tr>
                    
                  <tr>
                      <td><font color = 'white'>Password</font></td>
                  <td><input type = "password" placeholder = "password" name = "password" id = "pw" onchange="isSame()"></td>
                </tr>
                  <tr>
                      <td><font color = 'white'>Passwordcheck</font></td>
                  <td><input type = "password" placeholder = "password" name = "passwordcheck" id = "pwCheck" onchange ="isSame()">
                    <span id = "same"></span></td>
                </tr>
                <tr>
                  <td><font color = 'white'>NickName</font></td>
                  <td><input type = "text" placeholder = "NickName" name = "nickname" id = "NN"></td>
                </tr>
                <tr>
                  <td><font color = 'white'>PhoneNum</font></td>
                  <td><input type = "text" placeholder = "PhoneNum" name = "phoneNum" id = "PN"></td>
                </tr>
                </table>
                  <br>
                  <div class = "button">
                  <input type = "button" onclick="Scheckempty()" value = "Send Verification">
                  <input type = "reset" onclick = "location.href='loginpage'" value="Cancel">
                </div>
                  <p class="message">Already Registered? <a href="loginpage">Log In</a> </p>
              </form> 
              
            </div> 
  
        </div>
    </body>
    </html>