<!DOCTYPE html>
<html lang="en">
<head>
  <title>KABANG - Room Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <style>
    #map {
      width: 100%;
      height: 400px;
      background-color: grey;
    }
  </style>
  <style>
    table, th, td {
        border: 1px solid black;
        
        padding: 15px;
    }
  </style>
</head>
<body>
<%- include("./navbar.ejs", {"type": "student", "index": 0}) %>
<div class="container">
  <h2>Room Detail</h2>

  <div class="row">
    <div class="col-6">
        <script>
          var changeimg = function(){
                var img_src = $(this).alt;
                document.getElementById("img").alt = img_src;
            };
        </script>
      <div class="row">
          <img id="img" style="margin-left: auto; margin-right: auto; display: block;" src="cinqueterre.jpg" class="img-thumbnail" alt="room img" width="300" height="300">
      </div>
      <div class="room_img_btn"></div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <div class="row"> 
            <button type="button" class="btn btn-block btn-primary">Send Request</button>
        </div>

        <div class="row"><p></p></div>

        <div class="row">
          <p>Rating</p>
            <div class="rating" style="margin-left: auto; margin-right: auto; display: block; font-size: 50px">
              <span>☆  </span><span>☆  </span><span>☆  </span><span>☆  </span><span>☆</span>
            </div>
        </div>

        <div class="row"><p></p></div>

        <div class="row">
            <p>Comments</p> 
            <div style="overflow:scroll; width:100%; height:200px; padding:10px; background-color:whitesmoke;">
              <div class="comment_text"></div>
            </div>
        </div>
    </div>
  </div>


  <p></p><p></p>
  
  <p>Room Property</p>
  <table style="width:100%; text-align: center;">
      <tr>
        <td width="25%" bgcolor="whitesmoke">Room Price</td>
        <td width="19%" bgcolor="whitesmoke">Deposit</td>
        <td width="19%"><div class="deposit"></div></td>
        <td width="19%" bgcolor="whitesmoke">Monthly</td>
        <td width="19%"><div class="monthly"></div></td>
      </tr>
  </table>
  <table style="width:100%; text-align: center;">
      <tr>
        <td width="25%" bgcolor="whitesmoke">Room Type</td>
        <td width="25%"><div class="roomtype"></div></td>
        <td width="25%" bgcolor="whitesmoke">Room Status</td>
        <td width="25%"><div class="roomstatus"></div></td>
      </tr>
  </table>
  <table style="width:100%; text-align: center;">
      <tr>
        <td width="25%" bgcolor="whitesmoke">Room Option</td>
        <td width="75%"><div class="roomoption"></div></td>
      </tr>
  </table>


  <p></p>
  <p>Room Locations</p>
  <div id="map"></div>
  <script>
    var marker;

    function initMap() {
      var uluru = {lat: -25.363, lng: 131.044};
      var image = {
        url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
      };

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });
      
      marker = new google.maps.Marker({
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        position: uluru,
        title: 'uluru',
        icon: image
      });
            
      marker.addListener('click', toggleBounce); 
      
      var infoWindow = new google.maps.InfoWindow({map: map});
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found. ');
          map.setCenter (pos);
          marker.setPosition (pos);
        }, function () {
          handleError (true, infoWindow, map.getCenter());
        });
      } else {
        //Browser does not support Geo
        handleError (false, infoWindow, map.getCenter());
      }

    }

    function handleError (hasGeo, infoWindow, pos) {
      infoWindow.setPosition (pos);
      infoWindow.setContent(hasGeo ? 'Error: Geo service failed.':'Error: browser not support geo');
    }

    function toggleBounce() {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }
  </script>


  <p></p>
  <div class="form-group">
    <label for="comment">Room Description</label>
    <div class="card"><div class="card-body"><div class="description_text"></div></div>
  </div>
    


</div>
<script src="/module/js/jquery-1.12.4.min.js"></script>
<script src="/module/js/jquery-ui.min.js"></script>
<script src="/module/js/bootstrap.min.js"></script>
<script src="/js/roomDetail.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBQPgeFw1k9z4NL7dFePLS7LmVyZidME&callback=initMap">
</script>
</body>
</html>