<!DOCTYPE html>
<html lang="en">
<head>
  <title>KABANG - Room List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  
</head>
<body>
 
<div class="container">
  <h2>Room List</h2>
  <div class="row_adder"></div>

  <!-- <strong>
      <div class="row">
        <div class="col">
            <a href="#" class="btn btn-block btn-outline-light text-dark" role="button">
              <div class="card">
                <div class="card-header">Location</div>
                <div class="card-body">
                  <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                </div> 
                <div class="card-footer">
                  <div class="row">
                    <div class="col">Price</div>
                    <div class="col">Type</div>
                </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
          <a href="#" class="btn btn-block btn-outline-light text-dark" role="button">
            <div class="card">
              <div class="card-header">Location</div>
              <div class="card-body">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
              </div> 
              <div class="card-footer">
                <div class="row">
                    <div class="col">Price</div>
                    <div class="col">Type</div>
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </strong>

  <script>
    $("div").append($("strong"));
    function appendClass(){
      var c1 = "<div class=\"row\">";
      var c2 = "<div class=\"col\">";
      var a1 = "<a href=\"#\" class=\"btn btn-block btn-outline-light text-dark\" role=\"button\">";
      var c3 = "<div class=\"card\">";
      var c4 = "<div class=\"card-header\">Location</div>";
      var c5 = "<div class=\"card-body\">";
      var im = "<img class=\"card-img-top\" src=\"img_avatar1.png\" alt=\"Card image\">";
      var ed = "</div>";
      var c6 = "<div class=\"card-footer\">";
      var c7 = "<div class=\"col\">Price</div>";
      var c8 = "<div class=\"col\">Type</div>";
      var ea = "</a>";
      $("body").append(c1,c2,a1,c3,c4,c5,im,ed,c6,c1,c7,c8,ed,ed,ed,ed,ea,ed,c2,a1,c3,c4,c5,im,ed,c6,c1,c7,c8,ed,ed,ed,ed,ea,ed,ed);
    }
    appendClass()
  </script> -->

</div>
<script src="/module/js/jquery-1.12.4.min.js"></script>
<script src="/module/js/jquery-ui.min.js"></script>
<script src="/module/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
