<!DOCTYPE html>
<html lang="en">
<head>
  <title>KABANG - Room Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/module/css/jquery-ui.min.css' />
  <link rel='stylesheet' href='/module/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/module/font-awesome-4.7.0/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/css/roomdetail.css' />
</head>
<body>
  <%- include("./navbar.ejs", {"type": user_type, "index": 0}) %>
  <div class="container">
    <h2>Room Detail</h2>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <img id="img" src="<%= picture[0] %>" class="img-thumbnail" alt="room img">
        </div>
        <div class="room_img_btn">
          <% for (var i = 0; i < picture.length; i++) { %>
          <img class="subimg" src="<%= picture[i] %>" class="img-thumbnail" alt="etc img">
          <% } %>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <div class="row">
          <% if (user_type == 'room_owner') { %>
          <p>Request</p>
          <div id="request_list">
            <% for (var i = 0; i < request_list.length; i++) { %>
              <div class="request_info" data-request-id="<%= request_list[i].request_id %>">
                <span class="requested_user">
                  <%- request_list[i].requested_user_name %>
                </span>
                <button class="btn btn-primary request_accept">Accept</button>
                <button class="btn btn-danger request_reject">Reject</button>
              </div>
            <% } %>
          </div>
          <% } else { %>
          <button id="send_request" class="btn btn-block btn-primary">Send Request</button>
          <% } %>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
          <p>Rating</p>
          <div class="rating">
              <% if (user_type == 'student') { %>
                <% for (var j = 0; j < 5; j++) { %>
                <i class="fa fa-star-o" style="cursor: pointer;"></i>
                <% } %>
              <% } else { %>
                <%- stars %>
              <!-- <i class="fa fa-star-o"></i> -->
              <% } %>
          </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
          <p>Comments</p> 
          <div class="comment">
            <div class="comment_text">
              <% for (var j = 0; j < comments.length; j++) { %>
                <%= comments[j].content %><br /><br />
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p><p></p>
    <p>Room Property</p>
    <table style="width:100%; text-align: center;">
      <tr>
        <td width="25%" bgcolor="whitesmoke">Room Price</td>
        <td width="19%" bgcolor="whitesmoke">Deposit</td>
        <td width="19%"><div class="deposit"><%= deposit %> 만원</div></td>
        <td width="19%" bgcolor="whitesmoke">Monthly</td>
        <td width="19%"><div class="monthly"><%= monthly %> 만원</div></td>
      </tr>
    </table>
    <table style="width:100%; text-align: center;">
      <tr>
        <td width="25%" bgcolor="whitesmoke">Room Type</td>
        <td width="25%"><div class="roomtype"><%= type %></div></td>
        <td width="25%" bgcolor="whitesmoke">Room Status</td>
        <td width="25%"><div class="roomstatus"><%= status %></div></td>
      </tr>
    </table>
    <table style="width:100%; text-align: center;">
      <tr>
        <td width="25%" bgcolor="whitesmoke">Room Option</td>
        <td width="75%"><div class="roomoption"><%- option.join(',') %></div></td>
      </tr>
    </table>
    <p></p>
    <p>Room Locations</p>
    <div id="map"></div>
    <p></p>
    <div class="form-group">
      <label for="comment">Room Description</label>
      <div class="card"><div class="card-body"><div class="description_text"><%= description %></div></div>
    </div>
  </div>
  <div id="room_id" style="display: none;"><%= room_id %></div>
  <div id="location" style="display: none;">
    <span class="lat"><%- location.lat %></span>
    <span class="lng"><%- location.lng %></span>
  </div>
  <script src="/module/js/jquery-1.12.4.min.js"></script>
  <script src="/module/js/jquery-ui.min.js"></script>
  <script src="/module/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/roomDetail.js"></script>
  <% if (user_type == 'student') { %>
  <script src="/js/historyDetail.js"></script>
  <% } else if (user_type == 'room_owner') { %>
  <script src="/js/myRoomDetail.js"></script>
  <% } %>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBQPgeFw1k9z4NL7dFePLS7LmVyZidME&callback=initMap">
  </script>
</body>
</html>