<!DOCTYPE html>
<html lang="en">
<head>
  <title>KABANG - Room Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  
</head>
<body>
 
<div class="container">
  <h2>Room Detail</h2>
  <div class="row">
    <div class="col-6">
      <div class="row">
          <img src="cinqueterre.jpg" class="img-thumbnail" alt="room img" width="600" height="600">
      </div>
      <div class="room_img_btn"></div>
    </div>
    <div class="col-6">
        <div class="row"> 
            <button type="button" class="btn btn-primary btn-block">Send Request</button>
        </div>
        <div class="row">
            <div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
        </div>
        <div class="row">
            <!--comments--> 
        </div>
    </div>
  </div>

  <p></p>
  <div class="row">
    <div class="col-2"><p>Room Price</p></div>
    <div class="col-2">Deposit</div>
    <div class="col-2">1,000,000 KRW<!--deposit var--></div>
    <div class="col-2">Monthly</div>
    <div class="col-2">300,000 KRW<!--monthly var--></div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-3">Room Type</div>
    <div class="col-3">One-Room<!--Room Type var--></div>
    <div class="col-3">Room Status</div>
    <div class="col-3">Available<!--Room Status var--></div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-3">Room Options</div>
    <div class="col-9"><!--Room options var--></div>
  </div>
  <p></p>
  <p>Room Locations</p>
  <!--add map-->
  <p></p>
  <div class="form-group">
    <label for="comment">Room Description</label>
    <div class="card"><div class="card-body"><!--description var--></div></div>
  </div>
    


</div>
<script src="/module/js/jquery-1.12.4.min.js"></script>
<script src="/module/js/jquery-ui.min.js"></script>
<script src="/module/js/bootstrap.min.js"></script>
<script src="/js/roomDetail.js"></script>
</body>
</html>