<!DOCTYPE html>
<html>
  <head>
    <title>KABANG :: Room Register</title>
    <link rel='stylesheet' href='/module/css/jquery-ui.min.css' />
    <link rel='stylesheet' href='/module/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/module/font-awesome-4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <style type="text/css">

      input[type=file] {
          display: none;
      }

      .my_button {
          display: inline-block;
          width: 200px;
          text-align: center;
          padding: 10px;
          background-color: #006BCC;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
      }



      .imgs_wrap {

          border: 2px solid #A8A8A8;
          margin-top: 30px;
          margin-bottom: 30px;
          padding-top: 10px;
          padding-bottom: 10px;

      }
      .imgs_wrap img {
          max-width: 150px;
          margin-left: 10px;
          margin-right: 10px;
      }

  </style>
    <style type = "text/css">
      #map {
        width: 100%;
        height: 500px;
        background-color: grey;
      }
    </style>
  
  </head>
  <body>
          <form id ='registerAction' > 
          <div class = "form-group">
              <label for="Picture">Picture</label>
              <div class="input_wrap">
                  <input type="file" class= "form-control-file" id="input_imgs" multiple/>
              </div>
            </div>
        
            <div class = "form-group">
                <div class="imgs_wrap">
                    <img id="img" />
                </div>
            </div>  
            <button type="button" href="javascript:" onclick="fileUploadAction();" class="btn btn-primary">Upload</button>
          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Deposit">Deposit</label>
                <input type="text" class="form-control" id="deposit" placeholder="Deposit">
              </div>
              <div class="form-group col-md-6">  
                <label for="Monthly">Monthly</label>
                <input type="text" class="form-control" id="monthly" placeholder="Monthly">
              </div>
            </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="Room type">Room type</label>
                      <select id="type" class="form-control">
                        <option selected>Room type</option>
                        <option value = "One-Room(반지하)">One-Room(반지하)</option>
                        <option value = "One-Room(지상)">One-Room(지상)</option>
                        <option value = "Two-Room">Two-Room</option>
                        <option value = "Three-Room">Three-Room</option>
                      </select>
                    </div>
                      <div class="form-group col-md-6">
                      <label for="Room status">Room status</label>
                      <select id="status" class="form-control">
                          <option selected>Room status</option>
                          <option value = "Empty">Empty</option>
                          <option value = "Will be empty">Will be empty</option>
                          <option value = "Remodeling">Remodeling</option>
                        </select>
                      </div>
                      </div>
                      <div id="map"></div>
                      <div class= "form-check">
                      <div id="cblist">
                        
                        <input type="checkbox" value="first checkbox" id="cb1" /> 
                        <label for="cb1">Option1</label>
                      </div>
                    </div>
                    <div class = "form-row">
                    <div class="form-group col-md-2">
                    <input class="form-control" type="text" placeholder="option" id="txtName">
                  </div>
                    <button type="button" class="btn btn-primary btn-sm" id = "btnSave">Add option</button>
                  </div>        
                  <div class="form-group">
                      <label for="Roomdescription">Room description</label>
                      <textarea class="form-control" id="description" rows="7"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary" id = 'register' >Register</button>
                        </div>
    </form>
    <script src="/module/js/jquery-1.12.4.min.js"></script>
    <script src="/module/js/jquery-ui.min.js"></script>
    <script src="/module/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/roomregister.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBQPgeFw1k9z4NL7dFePLS7LmVyZidME&callback=initMap">
    </script>
          
                
            
    </body>
    </html>

