<!DOCTYPE html>
<html lang="en">
<head>
  <title>KABANG - Room List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  
</head>
<body>
<%- include("./navbar.ejs", {"type": "student", "index": 0}) %>
<div class="container">
  <h2>Room List</h2>
  <div class="row_adder"></div>

</div>
<script src="/module/js/jquery-1.12.4.min.js"></script>
<script src="/module/js/jquery-ui.min.js"></script>
<script src="/module/js/bootstrap.min.js"></script>
<script src="/js/room_card.js"></script>
<script src="/js/room_list.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
