div.container {
  padding-bottom: 30px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

table, th, td {
  border: 1px solid black;
  
  padding: 15px;
}

img#img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 300px;
  object-fit: container;
}

img.subimg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.rating {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 50px;
}
.comment {
  overflow:scroll;
  width:100%;
  height:200px;
  padding:10px;
  background-color:whitesmoke;
}

#request_list {
  padding-left: 60px;
}
#request_list .request_info {
  padding-bottom: 10px;
}
#request_list button {
  margin: 0 5px;
}

#like, #send_request {
  width: calc(50% - 15px);
}
#like {
  margin-right: 15px;
}
#send_request {
  margin-left: 15px;
}

.bottom_btn_row {
  padding: 0 40%;
}
.bottom_btn_row .btn {
  margin-left: 15px;
}