body{
    width : 80%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align : center;
    margin: auto;
}




#map {
    width: 60%;
    height: 400px;
    background-color: grey;
    position: static;
    left: 20%;
    margin-top: 20px;
}


input[type=file] {
    display: none;
}


.imgs_wrap {
    width: 94%;
    height: 200px;
    border: 2px solid #A8A8A8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgs_wrap img {
    max-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

#cblist {
    text-align: left;
    font-size: 18px;
    padding-left: 100;   
    list-style: none;  
}

#addop {
    text-align: center;
}

input[type = checkbox]{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-inline-end: 100%

}